//Colors
$bg-one: #f7f7f7;
$bg-two: #aaa;
$bg-three: #113355;

$color-one: #113355;
$color-two: #aaa;
$color-three: #f7f7f7;

//Fonts
$menu: 18px;

//utility
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: red;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}
.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
    text-align: center;
}
.title {
    font-size: 84px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}

